*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../img/banner0.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: #05292E;
  color: white;
}

img {
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

input, button {
  display: inline-block;
  cursor: pointer;
  font-family: inherit;
  height: 20px;
  text-align: center;
}

button {
  border: none;
  padding: 0 15px;
}

a {
  text-decoration: none;
  color: dodgerblue;
}

.app {
  max-width: 1200px;
  margin: auto;
  background-color: #05292E;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.app__banner {
  margin-top: 0;
  min-height: 200px;
  min-width: 1200px;
  background-image: url(../img/banner0.jpg);
  background-size: 100% 100%;
}
.app__container {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  gap: 20px;
  justify-content: space-evenly;
}

.app__form {
  margin: 20px 0;
  display: flex;
  align-items: center;
}

.app__inp {
  border-radius: 5px 0 0 5px;
} 

.app__btn {
  background-color: #71A821;
  color: white;
  border-radius: 0 5px 5px 0;
}

.app__btn:hover {
  filter: brightness(1.1);
}

.btn__pn {
  margin: 0 10px;
  border-radius: 5px;
}

.btn__pn:hover {
  animation:shadow-drop-center 0.4s linear both} @keyframes shadow-drop-center{0%{box-shadow:0 0 0 0 transparent}100%{box-shadow:0 0 20px 0 rgba(255,255,255,.55)}
}

 .footer {
  text-align: center;
 }

@media (width <= 850px) {

  .app__banner_850 {
    min-height: 100px;
    min-width: 750px;
  }

}

@media (width <= 550px) {

  .app__banner_550 {
    min-height: 50px;
    min-width: 350px;
  }
  h1 {
    font-size: 22px;
  }
  .app__form {
    margin: 10px 0;
  }
  .app__container {
    padding: 12px;
    gap: 12px;
  }

}

.anima {
  text-align: center;
  animation:tracking-out-expand-forward-bottom 0.4s linear both} @keyframes tracking-out-expand-forward-bottom{0%{transform:translateZ(0) translateY(0);opacity:1}60%{opacity:.8}100%{letter-spacing:1em;transform:translateZ(300px) translateY(200px);opacity:0}
}

.anima-2{
  animation:tracking-in-contract 0.4s linear both} @keyframes tracking-in-contract{0%{letter-spacing:.6em;opacity:0}40%{opacity:.6}100%{letter-spacing:normal;opacity:1}
}
